<!--
  Generated template for the TeamdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>{{team.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="unfavoriteTeam()" *ngIf="isFavorite"><ion-icon name="star"></ion-icon></button>
      <button ion-button icon-only (click)="favoriteTeam()" *ngIf="!isFavorite"><ion-icon name="star-outline"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>{{team.iso}}</ion-item>
  <ion-item>//TODO: Create a list of matches ...</ion-item>
</ion-content>
