<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Groups</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let group of firebaseService.groups | async">
    <h1 text-center text-capitalize>Group {{group.key}}</h1>

    <ion-row text-center>
      <ion-col>
        Away Team
      </ion-col>

      <ion-col>

      </ion-col>

      <ion-col>
        Home Team
      </ion-col>

    </ion-row>

    <ion-grid *ngFor="let match of group.matches">
      <ion-row text-center>
        <ion-col>
          {{match.away_team}}
          <ion-item *ngFor="let awayteam of firebaseService.getTeamById(match.away_team)">
            {{awayteam.name}}
          </ion-item>
        </ion-col>

        <ion-col>
          vs.
        </ion-col>

        <ion-col>
          {{match.home_team}}
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-card>
</ion-content>
